@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  margin: 100px;
}

h1 {
  margin: 0;
  padding: 10px 10px 0px 10px;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

p {
  text-align: center;
}

.color-picker {
  min-width: 100vw;
  min-height: 100vh;
}
